@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Fraunces:wght@700&family=IBM+Plex+Mono&family=IBM+Plex+Sans&family=Lato&family=Manrope:wght@800&family=Montserrat:wght@500;700&family=Orbitron&family=Outfit&family=Pathway+Extreme:wght@400;700&family=Playfair+Display&family=Poppins:ital,wght@0,400;0,700;1,400;1,800&family=Red+Hat+Display:wght@500;700;900&family=Syne&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 300px;
  width: 300px;
  background-color: #DFDBE5;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 20.5V18H0v-2h20v-2H0v-2h20v-2H0V8h20V6H0V4h20V2H0V0h22v20h2V0h2v20h2V0h2v20h2V0h2v20h2V0h2v20h2v2H20v-1.5zM0 20h2v20H0V20zm4 0h2v20H4V20zm4 0h2v20H8V20zm4 0h2v20h-2V20zm4 0h2v20h-2V20zm4 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2z' fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
  display: flex;
  justify-content: center;
  text-align: center;
  text-shadow: 1px 1px #D6CFFC;
}

h1 {
  font-family: 'Pathway Extreme', sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  margin: 30px 0;
}

hr {
  border: 10px dotted #000000;
  border-bottom: none;
  margin: 0 100px;
}

p {
  font-family: 'Pathway Extreme', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
}

.do {
  margin: 20px 0;
  font-weight: bold;
}

#activities {
  border: 1px solid #6B3E87;
  border-radius: 5px;
  margin: auto 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}